swagger: '2.0'
info:
  version: v1
  title: Zenegy API v1.0
  contact:
    name: Zenegy Tech
    email: tech@zenegy.com
host: signalr.zenegy.com
schemes:
  - https
paths:
  /api/companies/{companyUid}/absence:
    get:
      tags:
        - Absence
      operationId: Absence_GetAbsenceDaysPerCompany
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Models.Absence.AbsenceBaseResponse]
      security:
        - oauth2: []
    post:
      tags:
        - Absence
      operationId: Absence_CreateAbsence
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.Absence.AbsenceRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
      security:
        - oauth2: []
    delete:
      tags:
        - Absence
      operationId: Absence_AbsenceBulkDeleteAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/{absenceUid}:
    get:
      tags:
        - Absence
      operationId: Absence_GetAbsenceAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Models.Absence.AbsenceDto'
      security:
        - oauth2: []
    put:
      tags:
        - Absence
      operationId: Absence_UpdateAbsence
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.Absence.AbsenceRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
    delete:
      tags:
        - Absence
      operationId: Absence_DeleteAbsence
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/{absenceUid}/attachments/{attachmentUid}:
    get:
      tags:
        - Absence
      operationId: Absence_GetCompanyAbsenceAttachmentLocationAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceUid
          in: path
          required: true
          type: string
          format: uuid
        - name: attachmentUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/bulk:
    post:
      tags:
        - Absence
      operationId: Absence_InsertAbsencesAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.Absence.InsertAbsencesRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/attachments:
    post:
      tags:
        - Absence
      operationId: Absence_PostAbsenceAttachmentsAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Zalary.Models.Absence.AbsenceAttachmentDto'
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/{absenceUid}/split:
    post:
      tags:
        - Absence
      operationId: Absence_SplitEmployeeAbsence
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.Employee.AbsenceSplitRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Models.Absence.AbsenceSplitResponseDto'
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/{employeeUid}/absencedays:
    post:
      tags:
        - Absence
      operationId: Absence_GetAbsenceDataPerEmployee
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: employeeUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.Absence.AbsenceDataPerEmployeeRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Models.Absence.AbsenceDataPerEmployeeResponse'
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/reject:
    patch:
      tags:
        - Absence
      operationId: Absence_AbsenceBulkRejectAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/approve:
    patch:
      tags:
        - Absence
      operationId: Absence_AbsenceBulkApproveAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.Models.Absence.AbsenceStatusChangeResultBaseDto
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/pending:
    patch:
      tags:
        - Absence
      operationId: Absence_AbsenceBulkPendingAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/manuallyarchive:
    patch:
      tags:
        - Absence
      operationId: Absence_ManuallyArchiveBulkPendingAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/{absenceUid}/reject:
    patch:
      tags:
        - Absence
      operationId: Absence_RejectAbsence
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/{absenceUid}/approve:
    patch:
      tags:
        - Absence
      operationId: Absence_ApproveAbsence
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/{absenceUid}/pending:
    patch:
      tags:
        - Absence
      operationId: Absence_PendingAbsence
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence/{absenceUid}/manuallyarchive:
    patch:
      tags:
        - Absence
      operationId: Absence_ManualArchiveAbsence
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/financial:
    get:
      tags:
        - Accounting
      operationId: Accounting_GetCompanyFinancialReportAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
        - name: request.from
          in: query
          required: false
          type: string
          format: date-time
        - name: request.to
          in: query
          required: false
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/Zalary.Models.Employee.EmployeeAccounting.EmployeePayrollAccountingBase
      security:
        - oauth2: []
  /api/companies/{companyUid}/payroll/{payrollUid}/financial:
    get:
      tags:
        - Accounting
      operationId: Accounting_GetFinancialReport
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: payrollUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Models.Tax.FinancialTaxReportDto'
      security:
        - oauth2: []
  /api/companies/{companyUid}/financial/document:
    get:
      tags:
        - Accounting
      operationId: Accounting_GetCompanyFinancialReportDocumentAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
        - name: request.from
          in: query
          required: false
          type: string
          format: date-time
        - name: request.to
          in: query
          required: false
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          schema:
            type: object
      security:
        - oauth2: []
  /api/companies/{companyUid}/payroll/{payrollUid}/financial/document:
    get:
      tags:
        - Accounting
      operationId: Accounting_GetFinancialReportDocument
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: payrollUid
          in: path
          required: true
          type: string
          format: uuid
        - name: isEmployeesReport
          in: query
          required: true
          type: boolean
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
      security:
        - oauth2: []
  /api/companies/{companyUid}/payroll/{payrollUid}/brutto-financial/document:
    get:
      tags:
        - Accounting
      operationId: Accounting_GetBruttoAccountingFinancialReportDocumentAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: payrollUid
          in: path
          required: true
          type: string
          format: uuid
        - name: isEmployeesReport
          in: query
          required: true
          type: boolean
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
      security:
        - oauth2: []
  /api/accounting/templates:
    get:
      tags:
        - AccountingTemplate
      operationId: AccountingTemplate_GetAccountingTemplatesAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/Zalary.Models.AccountingTemplate.AccountingTemplateBaseDto
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses:
    get:
      tags:
        - AdminCourse
      operationId: AdminCourse_GetCoursesAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Courses.Contracts.Course.Models.CourseBaseDto]
      security:
        - oauth2: []
    post:
      tags:
        - AdminCourse
      operationId: AdminCourse_CreateCourseAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Courses.Contracts.Course.Models.PublishCourseToCompaniesRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/Zalary.Courses.Contracts.Course.Models.CourseBaseDto
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/groups:
    get:
      tags:
        - AdminCourse
      operationId: AdminCourse_GetEmployeeGroupsPerCompany
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Courses.Contracts.EmployeeGroup.Models.EmployeeGroupBaseResponse]
      security:
        - oauth2: []
    post:
      tags:
        - AdminCourse
      operationId: AdminCourse_InsertEmployeeGroup
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Courses.Contracts.EmployeeGroup.Models.CreateEmployeeGroupRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/requests:
    get:
      tags:
        - AdminCourse
      operationId: AdminCourse_GetCoursesRequestsAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Courses.Contracts.CourseParticipant.Models.ParticipantDto]
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}:
    get:
      tags:
        - AdminCourse
      operationId: AdminCourse_GetCourseDetailsAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Courses.Contracts.Course.Models.CourseDto'
      security:
        - oauth2: []
    put:
      tags:
        - AdminCourse
      operationId: AdminCourse_UpdateCourseAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Courses.Contracts.Course.Models.PublishCourseToCompaniesRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}/requests:
    get:
      tags:
        - AdminCourse
      operationId: AdminCourse_GetCourseRequestsAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Courses.Contracts.CourseParticipant.Models.ParticipantDto]
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}/invitations:
    get:
      tags:
        - AdminCourse
      operationId: AdminCourse_GetCourseInvitationsAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Courses.Contracts.CourseParticipant.Models.ParticipantDto]
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}/participants:
    get:
      tags:
        - AdminCourse
      operationId: AdminCourse_GetCourseParticipantsAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Courses.Contracts.CourseParticipant.Models.ParticipantDto]
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/groups/{employeeGroupUid}:
    get:
      tags:
        - AdminCourse
      operationId: AdminCourse_GetEmployeesGroup
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: employeeGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.Courses.Contracts.EmployeeGroup.Models.EmployeeGroupDetailsResponse
      security:
        - oauth2: []
    delete:
      tags:
        - AdminCourse
      operationId: AdminCourse_DeleteEmployeeGroup
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: employeeGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
    patch:
      tags:
        - AdminCourse
      operationId: AdminCourse_UpdateEmployeeGroup
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: employeeGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Courses.Contracts.EmployeeGroup.Models.CreateEmployeeGroupRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/companies/{managedCompanyUid}/employees:
    get:
      tags:
        - AdminCourse
      operationId: AdminCourse_GetManagedCompanyEmployees
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: managedCompanyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Courses.Contracts.Employee.Models.EmployeeDto]
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}/attachments/{attachmentUid}:
    get:
      tags:
        - AdminCourse
      operationId: AdminCourse_GetCourseAttachmentAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: attachmentUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/attachments:
    post:
      tags:
        - AdminCourse
      operationId: AdminCourse_PostCourseAttachmentAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/Zalary.Courses.Contracts.CourseAttachment.Models.CourseAttachmentDto
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}/invite:
    post:
      tags:
        - AdminCourse
      operationId: AdminCourse_InviteEmployeesInCourseAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: employeeUids
          in: body
          required: true
          schema:
            type: array
            items:
              format: uuid
              type: string
              example: 00000000-0000-0000-0000-000000000000
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}/send-message:
    post:
      tags:
        - AdminCourse
      operationId: AdminCourse_SendMessageToAllParticipants
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Courses.Contracts.Course.Models.CourseSendMessageRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/cancel:
    patch:
      tags:
        - AdminCourse
      operationId: AdminCourse_CancelCourseAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/archive:
    patch:
      tags:
        - AdminCourse
      operationId: AdminCourse_ArchiveCourseAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/requests/reject:
    patch:
      tags:
        - AdminCourse
      operationId: AdminCourse_RejectRequestsAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/requests/approve:
    patch:
      tags:
        - AdminCourse
      operationId: AdminCourse_ApproveRequestsAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}/copy:
    patch:
      tags:
        - AdminCourse
      operationId: AdminCourse_CopyCourseAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}/requests/reject:
    patch:
      tags:
        - AdminCourse
      operationId: AdminCourse_RejectCourseRequestsAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}/requests/approve:
    patch:
      tags:
        - AdminCourse
      operationId: AdminCourse_ApproveCourseRequestsAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}/requests/pending:
    patch:
      tags:
        - AdminCourse
      operationId: AdminCourse_PendingCourseRequestsAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}/invitations/cancel:
    patch:
      tags:
        - AdminCourse
      operationId: AdminCourse_CancelCourseInvitationsAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/courses/{courseUid}/participants/remove:
    patch:
      tags:
        - AdminCourse
      operationId: AdminCourse_RemoveCourseParticipantsAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: courseUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/education:
    get:
      tags:
        - AdminEducation
      operationId: AdminEducation_GetManagedEducationCompaniesAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Models.Company.EducationCompanyDto]
      security:
        - oauth2: []
    post:
      tags:
        - AdminEducation
      operationId: AdminEducation_CreateEducationCourseAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.Company.CreateEducationCourseRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
    delete:
      tags:
        - AdminEducation
      operationId: AdminEducation_BulkDeleteEducationCompaniesAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/education/{educationCompanyUid}:
    delete:
      tags:
        - AdminEducation
      operationId: AdminEducation_DeleteEducationCompanyAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: educationCompanyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/administrators/{companyUid}/employees:
    post:
      tags:
        - AdminEmployees
      operationId: AdminEmployees_PostAdminEmployeeAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.Employee.AdminEmployee.EmployeeAdminRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.Models.Employee.AdminEmployee.EmployeeAdminDto
      security:
        - oauth2: []
  /api/benefits:
    get:
      tags:
        - Benefits
      operationId: Benefits_GetBenefitBasesAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Zalary.Models.Benefit.BenefitBaseDto'
      security:
        - oauth2: []
  /api/companies/{companyUid}/billings:
    post:
      tags:
        - Billing
      operationId: Billing_CreatePaymentMethodAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: paymentInfo
          in: body
          required: true
          schema:
            $ref: '#/definitions/MCA.Core.Billing.PaymentRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/billings/netaxept:
    post:
      tags:
        - Billing
      operationId: Billing_RegisterNetAxeptAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: registerRequest
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Integration.NetAxept.Models.NetAxeptRegisterRequest
        - name: companyUid
          in: path
          required: true
          type: string
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.Integration.NetAxept.Models.NetAxeptRegisterResponse
      security:
        - oauth2: []
    patch:
      tags:
        - Billing
      operationId: Billing_VerifyNetAxeptRegistrationAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: verifyRegistrationRequest
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Integration.NetAxept.Models.NetAxeptVerifyRegistrationRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/brutto-accountings/booking-groups:
    get:
      tags:
        - BookingGroups
      operationId: BookingGroups_GetCompanyBookingGroupsAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Zalary.Models.BookingGroup.BookingGroupBaseDto'
      security:
        - oauth2: []
    post:
      tags:
        - BookingGroups
      operationId: BookingGroups_CreateBookingGroupAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupRequest
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.BookingGroup.BookingGroupRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Models.BookingGroup.BookingGroupBaseDto'
      security:
        - oauth2: []
  /api/companies/{companyUid}/brutto-accountings/booking-groups/{bookingGroupUid}:
    get:
      tags:
        - BookingGroups
      operationId: BookingGroups_GetBookingGroupBaseDtoAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Models.BookingGroup.BookingGroupBaseDto'
      security:
        - oauth2: []
    delete:
      tags:
        - BookingGroups
      operationId: BookingGroups_DeleteBookingGroupAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
    patch:
      tags:
        - BookingGroups
      operationId: BookingGroups_UpdateBookingGroupAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupRequest
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.BookingGroup.BookingGroupRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Models.BookingGroup.BookingGroupBaseDto'
      security:
        - oauth2: []
  /api/companies/{companyUid}/brutto-accountings/booking-groups/{bookingGroupUid}/unassigned-employees:
    get:
      tags:
        - BookingGroups
      operationId: BookingGroups_GetBookingGroupsUnassignedEmployeesAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Zalary.Models.Employee.EmployeeBaseDto'
      security:
        - oauth2: []
  /api/companies/{companyUid}/brutto-accountings/booking-groups/{bookingGroupUid}/accountings/{companyBruttoAccountingUid}:
    get:
      tags:
        - BookingGroups
      operationId: BookingGroups_GetBookingGroupCompanyBruttoAccounting
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: companyBruttoAccountingUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.Models.BookingGroup.BookingGroupCompanyBruttoAccounting
      security:
        - oauth2: []
    post:
      tags:
        - BookingGroups
      operationId: BookingGroups_CreateBookingGroupCompanyBruttoAccountingOverride
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: companyBruttoAccountingUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.BookingGroup.BookingGroupCompanyBruttoAccountingOverrideRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.Models.BookingGroup.BookingGroupCompanyBruttoAccounting
      security:
        - oauth2: []
    patch:
      tags:
        - BookingGroups
      operationId: BookingGroups_UpdateBookingGroupCompanyBruttoAccountingOverride
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: companyBruttoAccountingUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.BookingGroup.BookingGroupCompanyBruttoAccountingOverrideRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.Models.BookingGroup.BookingGroupCompanyBruttoAccounting
      security:
        - oauth2: []
  /api/companies/{companyUid}/brutto-accountings/booking-groups/list:
    post:
      tags:
        - BookingGroups
      operationId: BookingGroups_GetBookingGroupsAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupsFilter
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.BookingGroup.BookingGroupsFilter'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Models.BookingGroup.BookingGroupListDto]
      security:
        - oauth2: []
  /api/companies/{companyUid}/brutto-accountings/booking-groups/{bookingGroupUid}/assign:
    post:
      tags:
        - BookingGroups
      operationId: BookingGroups_AssignEmployeesToBookingGroupsAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.BookingGroup.AddEmployeesBookingGroupsRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/brutto-accountings/booking-groups/{bookingGroupUid}/assigned:
    post:
      tags:
        - BookingGroups
      operationId: BookingGroups_GetAssignedEmployeesToBookingGroupsAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: filter
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.BookingGroup.CompanyBruttoAccountingBookingGroupsFilter
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Models.BookingGroup.EmployeesBookingGroupsDto]
      security:
        - oauth2: []
  /api/companies/{companyUid}/brutto-accountings/booking-groups/{bookingGroupUid}/unassign:
    post:
      tags:
        - BookingGroups
      operationId: BookingGroups_RemoveEmployeesFromBookingGroupsAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: employeeUids
          in: body
          required: true
          schema:
            type: array
            items:
              format: uuid
              type: string
              example: 00000000-0000-0000-0000-000000000000
        - name: bookingGroupUid
          in: path
          required: true
          type: string
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/brutto-accountings/booking-groups/{bookingGroupUid}/accountings/list:
    post:
      tags:
        - BookingGroups
      operationId: BookingGroups_GetBookingGroupCompanyBruttoAccountings
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupAccountingPlanFilter
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.BookingGroup.BookingGroupAccountingPlanFilter
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Models.BookingGroup.BookingGroupCompanyBruttoAccounting]
      security:
        - oauth2: []
  /api/companies/{companyUid}/brutto-accountings/booking-groups/override-posting/bulk-delete:
    delete:
      tags:
        - BookingGroups
      operationId: BookingGroups_BulkDeleteBookingGroupCompanyBruttoAccountingOverride
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: accountingOverrideUids
          in: body
          required: true
          schema:
            type: array
            items:
              format: uuid
              type: string
              example: 00000000-0000-0000-0000-000000000000
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/brutto-accountings/booking-groups/override-posting/{accountingOverrideUid}:
    delete:
      tags:
        - BookingGroups
      operationId: BookingGroups_BulkDeleteBookingGroupCompanyBruttoAccountingOverride
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: accountingOverrideUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/brutto-accountings/booking-groups/{bookingGroupUid}/accountings/bulk-delete:
    delete:
      tags:
        - BookingGroups
      operationId: BookingGroups_BulkDeleteBookingGroupCompanyBruttoAccountingOverride
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: bookingGroupUid
          in: path
          required: true
          type: string
          format: uuid
        - name: accountingOverrideUids
          in: body
          required: true
          schema:
            type: array
            items:
              format: uuid
              type: string
              example: 00000000-0000-0000-0000-000000000000
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies:
    get:
      tags:
        - Companies
      operationId: Companies_GetCurrentUserCompanies
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Zalary.Company.CompanyUser'
      security:
        - oauth2: []
  /api/companies/{companyUid}:
    get:
      tags:
        - Companies
      operationId: Companies_GetCompanyDetails
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Models.Company.CompanyDto'
      security:
        - oauth2: []
    put:
      tags:
        - Companies
      operationId: Companies_UpdateBasicCompanyDetails
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: model
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.Company.UpdateCompanyRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/payroll:
    get:
      tags:
        - Companies
      operationId: Companies_GetCompanyPayrolls
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Models.Payroll.PayrollCompanyDto]
      security:
        - oauth2: []
  /api/companies/{companyUid}/report/demo:
    get:
      tags:
        - Companies
      operationId: Companies_GetCompanyDemoPayslip
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
      security:
        - oauth2: []
  /api/companies/{companyUid}/employees/roles:
    get:
      tags:
        - Companies
      operationId: Companies_GetCompanyManagingEmployees
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
      deprecated: true
      security:
        - oauth2: []
  /api/companies/{companyUid}/freechoicesaldo:
    get:
      tags:
        - Companies
      operationId: Companies_GetCompanyEmployeesFreeChoiceSaldoAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Models.Company.CompanyFreeChoiceSaldoDto'
      security:
        - oauth2: []
  /api/companies/{companyUid}/company-settings:
    get:
      tags:
        - Companies
      operationId: Companies_GetCompanySettingsAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Models.Company.CompanySettingsDto'
      security:
        - oauth2: []
  /api/companies/{companyUid}/is-retro-enabled:
    get:
      tags:
        - Companies
      operationId: Companies_IsRetroEnabledAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      security:
        - oauth2: []
  /api/companies/{companyUid}/am-accoutings-setting:
    get:
      tags:
        - Companies
      operationId: Companies_IsAmAccoutingEnabledAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      security:
        - oauth2: []
  /api/companies/{companyUid}/holiday-order-setting:
    get:
      tags:
        - Companies
      operationId: Companies_HolidayOrderSettingAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Models.Company.HolidayOrderSettingsDto'
      security:
        - oauth2: []
  /api/companies/{companyUid}/is-booking-group-enabled:
    get:
      tags:
        - Companies
      operationId: Companies_IsBookingGroupEnabledAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      security:
        - oauth2: []
  /api/companies/{companyUid}/is-generate-eincome-file:
    get:
      tags:
        - Companies
      operationId: Companies_IsGenerateEIncomeFileEnabledAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      security:
        - oauth2: []
  /api/companies/{companyUid}/report/logo:
    get:
      tags:
        - Companies
      operationId: Companies_GetCompanyReportLogoImageAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: isAdd
          in: query
          required: false
          type: boolean
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
      security:
        - oauth2: []
    post:
      tags:
        - Companies
      operationId: Companies_PutCompanyReportLogoImageAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
    delete:
      tags:
        - Companies
      operationId: Companies_DeleteCompanyReportLogoImageAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/is-payout-vacation-enabled:
    get:
      tags:
        - Companies
      operationId: Companies_IsPayoutVacationMoneyEnabledAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      security:
        - oauth2: []
  /api/companies/{companyUid}/is-vacation-money-garantee:
    get:
      tags:
        - Companies
      operationId: Companies_IsVacationMoneyGaranteeEnabledAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      security:
        - oauth2: []
  /api/companies/{companyUid}/is-horesta-supplement-enabled:
    get:
      tags:
        - Companies
      operationId: Companies_IsHorestaSupplementEnabled
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      security:
        - oauth2: []
  /api/companies/{companyUid}/is-hiring-out-of-labour-enabled:
    get:
      tags:
        - Companies
      operationId: Companies_IsHiringOutOfLabourEnabledAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      security:
        - oauth2: []
  /api/companies/{companyUid}/extra-holiday-entitlement-in-hours:
    get:
      tags:
        - Companies
      operationId: Companies_GetCompanyExtraHolidayEntitlementInHoursAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      security:
        - oauth2: []
  /api/companies/{companyUid}/is-extra-holiday-entitlement-in-hours-enabled:
    get:
      tags:
        - Companies
      operationId: Companies_IsExtraHolidayEntitlementInHoursEnabledAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      security:
        - oauth2: []
  /api/companies/{companyUid}/payslips-information:
    get:
      tags:
        - Companies
      operationId: Companies_GetCompanyPayslipsInformationAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
        - name: request.startDate
          in: query
          required: false
          type: string
          format: date-time
        - name: request.endDate
          in: query
          required: false
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Zalary.Models.Company.PayslipsInformationDto'
      security:
        - oauth2: []
  /api/companies/{companyUid}/update:
    put:
      tags:
        - Companies
      operationId: Companies_UpdateFullCompany
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: model
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.Company.UpdateFullCompanyRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/advanced:
    put:
      tags:
        - Companies
      operationId: Companies_UpdateAdvancedCompanyDetails
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: model
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.Company.UpdateCompanyAdvancedDetails'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/create:
    post:
      tags:
        - Companies
      operationId: Companies_CreateCompany
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: model
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.Company.UpdateCompanyRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
      deprecated: true
      security:
        - oauth2: []
  /api/companies/{companyUid}/insurance:
    patch:
      tags:
        - Companies
      operationId: Companies_UpdateTrygInsuranceInfo
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: insuranceType
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.Company.TrygInsurance.UpdateTrygInsuranceRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            format: int32
            enum:
              - 0
              - 2
              - 4
              - 6
              - 8
              - 10
              - 12
              - 14
            type: integer
      security:
        - oauth2: []
  /api/companies/{companyUid}/vacation-settings:
    patch:
      tags:
        - Companies
      operationId: Companies_ConfirmCompanyVacationSettingsAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/pension-base-limit:
    patch:
      tags:
        - Companies
      operationId: Companies_UpdatePensionBaseLimit
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zalary.Models.Company.CompanyPensionBaseLimitRequest'
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/holiday-order-settings:
    patch:
      tags:
        - Companies
      operationId: Companies_UpdateHolidayOrrderSettings
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.Company.HolidayOrder.HolidayOrdersSettingsRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/third-party-subscription:
    patch:
      tags:
        - Companies
      operationId: Companies_UpdateDanicaPensionOffer
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: thirdPartySubscriptionRequest
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.Company.UpdateThirdPartySubscriptionRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence-type/{absenceTypeUid}:
    get:
      tags:
        - CompanyAbsenceType
      operationId: CompanyAbsenceType_GetCompanyAbsenceTypeDetailsAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceTypeUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.Models.CompanyAbsenceType.CompanyAbsenceTypeDto
      security:
        - oauth2: []
    put:
      tags:
        - CompanyAbsenceType
      operationId: CompanyAbsenceType_UpdateCompanyAbsenceTypeAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceTypeUid
          in: path
          required: true
          type: string
          format: uuid
        - name: updateRequest
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.CompanyAbsenceType.CompanyAbsenceTypeRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
    delete:
      tags:
        - CompanyAbsenceType
      operationId: CompanyAbsenceType_DeleteCompanyAbsenceTypeAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceTypeUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence-type:
    get:
      tags:
        - CompanyAbsenceType
      operationId: CompanyAbsenceType_GetCompanyDefaultAbsenceTypesAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: isFilter
          in: query
          required: false
          type: boolean
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/Zalary.Models.CompanyAbsenceType.CompanyAbsenceTypeBaseDto
      security:
        - oauth2: []
    post:
      tags:
        - CompanyAbsenceType
      operationId: CompanyAbsenceType_GetCompanySystemAndCustomAbsenceTypesAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: filter
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.CompanyAbsenceType.CompanyAbsenceTypeFilter
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Models.CompanyAbsenceType.CompanyAbsenceTypeBaseDto]
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence-type/all:
    get:
      tags:
        - CompanyAbsenceType
      operationId: CompanyAbsenceType_GetCompanyAbsenceTypesAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: isFilter
          in: query
          required: false
          type: boolean
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/Zalary.Models.CompanyAbsenceType.CompanyAbsenceTypeBaseDto
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence-type/employees/{employeeUid}:
    get:
      tags:
        - CompanyAbsenceType
      operationId: CompanyAbsenceType_GetEmployeeAbsenceTypesAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: employeeUid
          in: path
          required: true
          type: string
          format: uuid
        - name: isFilter
          in: query
          required: false
          type: boolean
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/Zalary.Models.CompanyAbsenceType.CompanyAbsenceTypeBaseDto
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence-type/insert:
    post:
      tags:
        - CompanyAbsenceType
      operationId: CompanyAbsenceType_AddCompanyAbsenceTypeAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: insertRequest
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.CompanyAbsenceType.CompanyAbsenceTypeRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/absence-type/bulk-delete:
    patch:
      tags:
        - CompanyAbsenceType
      operationId: CompanyAbsenceType_BulkDeleteCompanyAbsenceTypesAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: absenceTypeUidsForDelete
          in: body
          required: true
          schema:
            type: array
            items:
              format: uuid
              type: string
              example: 00000000-0000-0000-0000-000000000000
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/accountings/types:
    get:
      tags:
        - CompanyAccounting
      operationId: CompanyAccounting_GetCompanyAccountingTypesAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/Zalary.Models.CompanyAccouting.CompanyAccountingResponse
      security:
        - oauth2: []
  /api/companies/{companyUid}/accountings/hour-rate:
    get:
      tags:
        - CompanyAccounting
      operationId: CompanyAccounting_GetCompanyAccountingTypeAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.Models.CompanyAccouting.CompanyAccountingResponse
      security:
        - oauth2: []
  /api/companies/{companyUid}/accountings/supplement-rate:
    get:
      tags:
        - CompanyAccounting
      operationId: CompanyAccounting_GetCompanyAccountingTypeForSupplementRatesAsync
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: supplementType
          in: query
          required: true
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 15
            - 16
            - 17
            - 18
            - 19
            - 20
            - 21
            - 22
            - 23
            - 24
            - 25
            - 26
            - 27
            - 28
            - 29
            - 30
            - 31
            - 32
            - 33
            - 34
            - 35
            - 36
            - 37
            - 38
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.Models.CompanyAccouting.CompanyAccountingResponse
      security:
        - oauth2: []
  /api/companies/{companyUid}/accountings:
    post:
      tags:
        - CompanyAccounting
      operationId: CompanyAccounting_GetCompanyAccountingsAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: filter
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.CompanyAccouting.CompanyAccountingFilter
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Models.CompanyAccouting.CompanyAccountingExtendedDto]
      security:
        - oauth2: []
  /api/companies/{companyUid}/accountings/override:
    post:
      tags:
        - CompanyAccounting
      operationId: CompanyAccounting_GetCompanyAccountingOverridesAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: filter
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.CompanyAccountingOverride.CompanyAccountingOverrideFilter
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/Zalary.PagedResponse[Zalary.Models.CompanyAccountingOverride.CompanyAccountingOverrideDto]
      security:
        - oauth2: []
  /api/companies/{companyUid}/accountings/override/department:
    post:
      tags:
        - CompanyAccounting
      operationId: CompanyAccounting_InsertCompanyAccountingDepartmentOverridesAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.CompanyAccouting.CompanyAccountingDepartmentsOverrideRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/accountings/override/bulk-delete:
    post:
      tags:
        - CompanyAccounting
      operationId: CompanyAccounting_BulkDeleteCompanyAccountingOverridesAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.CompanyAccountingOverride.DeleteCompanyAccountingOverridesRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/accountings/template:
    patch:
      tags:
        - CompanyAccounting
      operationId: CompanyAccounting_UpdateCompanyAccountingPlanAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.CompanyAccouting.CompanyAccountingTemplatePlanRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/accountings/{companyAccountingUid}:
    patch:
      tags:
        - CompanyAccounting
      operationId: CompanyAccounting_UpdateAccountingAsync
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: companyAccountingUid
          in: path
          required: true
          type: string
          format: uuid
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/Zalary.Models.CompanyAccouting.CompanyAccountingDepartmentOverrideRequest
        - name: api-version
          in: query
          required: false
          type: string
      responses:
        '204':
          description: No Content
      security:
        - oauth2: []
  /api/companies/{companyUid}/accountings/override/{accountingOverrideUid}:
    delete:
      tags:
        - CompanyAccounting
      operationId: CompanyAccounting_DeleteCompanyAccountingOverrideAsync
      consumes: []
      produces: []
      parameters:
        - name: companyUid
          in: path
          required: true
          type: string
          format: uuid
        - name: accountingOverrideUid
          in: path
          required: true
          type: string
          format: uuid
        - name: api-version
          in: query
[...]
